<html>
<head>
  <title>Connector</title>
  <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
  <script src="//js.hull.io/0.10.0/hull.js"></script>
</head>
<body>
  <div id="root">App Root</div>
  <script src="/index.js"></script>
</body>
</html>
